.notBought > .MuiCardMedia-root {
    filter: grayscale(1) opacity(0.5);
    /* filter: opacity(0.5); */
}
.notBought {
    position: relative;
}
.notBought::after {
    content:'🔒';
    position: absolute;
    left:50%;
    top:50%;
}
