.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .selectedItem {

} */

.content {
    display:flex;
}

.inventoryContainer {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.inventoryItem {
    border-radius: 0%;
    height: 100%;
}

.userCard {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding:10px;
}

.userHeader {
    margin-bottom: 0;
}

.userSubHeader {
    margin-top: 0;
    color: #9e9e9e
}

.userText {
    margin-left: 10px;
    /* display: flex; */
}

.userInfo{
    display:flex;
    align-items: baseline;
}
.activeAnimalContainer {
    align-self: center;
}
